.rating > .container > .button {
    -fx-background-image: url("../icons/star.png");
}

.rating > .container > .button.strong {
    -fx-background-image: url("../icons/selectedStar.png");
}

.rating :disabled {
    -fx-opacity: 1;
}

Button :disabled {
    -fx-background-color: rgba(33,33,33,0.6);
}

Button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

Button:hover {
    -fx-background-color: #FF5252;
}

TextField {
    -fx-focus-color: transparent;
}

ToggleSwitch:selected .thumb-area {
    -fx-background-color: #FF5252;
}

/*TABLE CSS */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #212121,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
}

.table-view .column-header-background {
    -fx-background-color: #212121;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #212121;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 9pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-view {
    -fx-accent: rgba(33, 33, 33, 0.5);
    -fx-focus-color: transparent;
    -fx-selection-bar: #f8b4b4;
    -fx-selection-bar-non-focused: #f8b4b4;
}
